* {
    margin: 0%;
    padding: 0%;
    font-family: Roboto, sans-serif;
}

header {
    border-top: 1px solid #e1e1e2;
    padding: 1% 2%;
    background-color: white;
}

img {
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
}

body {
    background-color: #e1e1e2;
}

.buttons {
    margin: 0.5px;
    border-bottom: solid #e1e1e2;
}

main {
    width: 70%;
    margin: auto;
    background-color: white;
    height: 50em;
    border-radius: 0.5em;
}

h3 {
    display: inline;
}

.sezione {
    padding: 1em;
}

.check {
    color: #64c0a9;
    border: 1px solid;
    border-radius: 1.2em;
}

.cross {
    color: #ea4237;
    border: 1px solid;
    border-radius: 100%;
}

.etichetta {
    color: white;
    font-weight: 100;
    border: 1px;
    background-color:brown ;
    border-radius: 2em;
    padding: 1em;
    font-size: 0.5em;
}