* {
    margin: 0%;
    padding: 0%;
    font-family: Roboto, sans-serif;
}

header {
    padding: 1% 2%;
    background-color: white;
}

img {
    vertical-align: middle;
}

h1 {
    display: inline;
    vertical-align: middle;
}

body {
    background-color: #f6f8f9;
}

.buttons {  
    width: 70%;
    margin: 1px auto;
    margin-top: 50px;
    background-color: white;
    border-radius: 0.5em;
    padding: 1.5%;
    vertical-align: auto;
}

main {
    width: 70%;
    margin: auto;
    background-color: white;
    height: 35em;
    border-radius: 0.5em;
    line-height: 150%;
    padding: 1.5%;
    padding-bottom: 0px;
    font-size: 20px;
    color: #444851;
}

h3 {
    display: inline;
}

.sezione {
    padding: 1em;
}

.check {
    color: #64c0a9;
    border: 1px solid;
    border-radius: 100%;
    padding:0px 3px;
    font-size: 15px;
}

.cross {
    color: #ea4237;
    border: 1px solid;
    border-radius: 100%;
    padding:0px 3px;
    font-size: 15px;
}

.etichetta {
    color: white;
    font-weight: 100;
    border: 1px;
    border-radius: 2em;
    padding: 5px;
    font-size: 0.5em;
}

span {
    line-height: 250%;
}

.listSection {
    width 00%;
}

#addtask {
    background-color: #45abea;
    color: white;
    border: none;
    border-radius: 5px;
    margin-left: 20px;
    padding: 5px 10px;
    height: 30px;
}

#addsection {
    color: #eaeaec;
    border: 1px solid ;
    border-radius: 5px;
    padding: 5px 10px;
    box-sizing: border-box;
    height: 30px;
    background-color: white;
}

.editorial {
    background-color: #45abea;
}

.q1goals {
    background-color: #9c72e4;
}

.recruiting {
    background-color: #64c0a9;
}

.mobile {
    background-color: #f29e33;
}

.website {
    background-color: #d863a1;
}

.sales {
    background-color: #b0c926;
}

