* {
    margin: 0%;
    padding: 0%;
    font-family: Roboto, sans-serif;
}

header {
    border-top: 1px solid #e1e1e2;
    padding: 0.1rem 0.2rem;
}

h1 {
    display: inline;
}

main {
    width: 70 %;
    margin: auto;
    background-color: white;
    background-color: #e1e1e2;
}